
$primary: black;
$secondary: white;
$grey: rgb(98, 97, 97);
$neutral: #ABB3BF;
$lightgrey: #CAC8C9;
$neutral_second: #677D92;

$spacer: 20px;
$biger--spacer: 2*$spacer;



html {
    box-sizing: border-box;
  }
  
.headline__usual {
  margin: 80px;
}

  *, ::before, ::after {
    box-sizing: inherit;
  }
  
  
  body {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: $neutral;
    
  }
 
 
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;


  }
  

  h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: black;
    margin-left:  -50px;
    margin-top: 10px;
    
  }







// *****Hlavní stránka********

//HEADER
.logo {
  width: 200px;
  position: absolute;
  right: 0px;
  top: 300px;
  }
 

    @media screen and  (min-width: 900px){
      .logo 
      { width: 300px;
        
      left: 0;
      top: 0; } }

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.header {
background-image:url('/images/success.jpg');
background-size: cover, cover;
background-position: initial,center center;
background-repeat: initial, no-repeat;

height: 750px;
position: relative;

}

.hlavicka-obsah {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  color: $secondary;
  
}


.titulek {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

@media screen and  (min-width: 800px){
  .titulek {
    
    font-size: 32px;
    font-weight: 700;
    line-height: 1;

  }
  }


@media screen and  (min-width: 1100px){
.titulek {
  
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}
}

.perex {
  margin: 2em 0;
}

.hlavicka__obsah {
  position: absolute;
  top: 430px;
  left: 60px;

  
  font-style: italic;
  color: $secondary;
}

@media screen and  (min-width: 800px){
  .hlavicka__obsah 
  {
      top: 300px;
      left: 120px;
    color: $primary; } }


@media screen and  (min-width: 1100px){
.hlavicka__obsah 
{
    top: 185px;
    left: 120px;
  color: $primary; } }

//    MENU


  
  .titulka {
    width: 100%;
  }

 
  
  .menu {
    background-color: $primary;
  }
  

 
  .menu__list  {
      display: block;
      flex-direction: row;
      align-items: center;
        }


    @media screen and  (min-width: 1100px){
      .menu__list {
        margin: 0;
        padding: 2px;
        display: flex;
        justify-content: center;
        list-style: none;}
     }
    
    
  
  
   .menu__item:not(:last-child) {
    border-right: 1px solid $secondary;
  }
  
  
  .menu__link {
    display: block;
    padding: 15px 30px;
    color: $secondary;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .menu__link:hover, .menu__link:focus {
    background-color: $secondary;
    color: $primary;
  }
  

// main hlavní strana


.hlavni__obrazek {
  width: 300px;
  position: absolute;
  top: 600px;
  left: 80px;
}

@media screen and  (min-width: 900px){
  .hlavni__obrazek { 
    width: 400px;
    position: absolute;
    top: 600px;
    left: 120px;} }

.box {
  height: 1300px;
}

@media screen and  (min-width: 800px){
  .box { 
    height: 1250px;} }
@media screen and  (min-width: 1100px){
      .box { 
        height: 700px;} }


.hlavni__text {
  position: absolute;
  top: 1300px;
  left:30px;
  align-items: justify;
  color: $primary;
}

@media screen and  (min-width: 800px){
  .hlavni__text { 
  top: 1400px;
  left: 60px;} }

@media screen and  (min-width: 1100px){
  .hlavni__text { 
  top: 800px;
  left: 650px;} }
  
.text__main {
  color: $grey;
  font-size: 16px;

  
}

@media screen and  (min-width: 900px){
  .text__main { 
    font-size: large;
  } }

.text__kurziva {
  font-style:italic;
  font-weight: bold;
}


// button

.button__primary {
  display: inline-block;
  color: $secondary;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 30px;
  border: 1px solid $primary;
  border-radius: 5px;
  background-color: $primary;
  margin: 30px 0 0 0;
  
}



.odstavec__normal {
 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: center;
  display: block;
  position: absolute;
  top: 1000px;
  left: 100px;
  font-style: italic;
  color: $secondary;
}

@media screen and  (min-width: 900px){
  .odstavec__normal { 
  top: 1100px;
  left: 200px;} }



.podklad__odstavec {
  width: 300px;
  height: 230px;
  background-color: rgb(91,117,142);
  position: absolute;
 
  border-radius: 10px;
  box-shadow: 5px 5px 10px $primary;
  opacity: 0.7;
  top: 990px;
  left: 70px;

}

@media screen and  (min-width: 900px){
  .podklad__odstavec { 
    top: 1090px;
    left: 165px;} }

  //   FOOTER
 
  .footer {
    background-color: $primary;
    padding: 30px;
    text-align: center;
    
  }
  

  

.logo__footer {
  width: 300px;
  margin: calc($spacer * 2) 
}


.footer a {
  color: $secondary;
}



.footer__grid {
  padding: $biger--spacer;
  color: $secondary;
  display: grid;
  
  margin: auto;
  text-align: left;
  align-items: normal;
  grid-template-columns: repeat(1, 1fr);
 
}

@media screen and  (min-width: 900px){
  .footer__grid { grid-template-columns: repeat(2, 1fr);
    } }

    @media screen and  (min-width: 1100px){
      .footer__grid { 
        grid-template-columns: repeat(4, 1fr); } }

.footer__copyright {
  padding: $spacer;
  font-size: 14px;
  text-align:end;
 
}


.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
}








.instagram__odkaz {
  display: flex;
  align-items: center;
  text-align: left;
  
}

.odkaz__email {
  display: flex;
  align-items: center;
  text-align: left;
}

.odkaz_mobil {
  display: flex;
  align-items: center;
  text-align: left;
  
  
}

.facebook__odkaz {
  display: flex;
  align-items: center;
  text-align: left;
  
}

.facebook__ikona {
  margin:15px;
}

.email__ikona {
  margin:12px
}

.ikona__mobil {
  margin:8px
}



// *****Business to go********


.kontejner__content {
  height: 1680px; }
  @media screen and  (min-width: 900px){
    .kontejner__content  { 
      height: 900px;} }
  
      @media screen and  (min-width: 1100px){
        .kontejner__content  { 
          height: 600px;
          
          } }


.logo_vw {
  width: 400px;
  padding: 45px 20px 20px 70px;

}

.kontejner__text {
  font-size: medium;
  position: absolute;
  text-align: center;
  top: 400px;
  left: 20px;
  height: 600px;
  
 }
  @media screen and  (min-width: 900px){
    .kontejner__text  { 
      
      
      top: 60px;
      left: 100px;} }
  
      @media screen and  (min-width: 1100px){
        .kontejner__text  { 
          top: 100px;
          left: 500px;}}
  
  
 

.foto {
 position: relative;
 display: block;
}


.foto img {
 display: block;
 width: 100%;
 height: 100%;
}


.foto .popisek {
 margin: 10px 0 20px 0;
 color: $secondary;
 font-family: 'Raleway', sans-serif;
 font-size: 13px;
 line-height: 1.2;
 font-weight: 700;
 text-align: center;
}


.popisek-copy {
 font-size: 11px;
 font-weight: 400;
}




.foto .popisek a {
 color: $primary;
}






@media (min-width: 600px) {

.business__text {
  font-size: large;
  color: $primary
}

 .foto {
     float: left;
     width: 100%;
     overflow: hidden;
     
 }

.galerie {
  
  display: grid;
  grid-template-columns: repeat( 1, 1fr);
 }

}
@media screen and  (min-width: 900px){
  .galerie { grid-template-columns: repeat(2, 1fr);
    ;
    } }

    @media screen and  (min-width: 1100px){
      .galerie { 
        
        grid-template-columns: repeat( 3, 1fr);
        } }


 .foto .popisek {
     position: absolute;
     width: 100%;
     top: 0px;
     margin: 0;
     padding: 30px 10px;
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     font-size: 24px;
     transform: translateY(100%);
     
 }


 .foto .popisek a {
     color: white;

 }





// *****CAR CONCEPT




.car__grid {
  padding: $biger--spacer;
  color: $secondary;
  display: grid;
  
  margin: auto;
  text-align: left;
  align-items: normal;
  grid-template-columns: repeat(1, 1fr);
  font-size: medium;
  margin: 5px;

 
}


    @media screen and  (min-width: 1100px){
      .car__grid { 
        grid-template-columns: repeat(3, 1fr);
      margin: 30px } }

.car__grid--columns {
    width: 100%;
  height: 100%;
 
}


.nadpis__cars, .obsah__cars {
  text-align: center;
  color: $secondary
}

.obsah__cars {
  font-size: medium;
  color: $secondary;
}

.podklad__cars {
 background-color: $secondary;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 5px 20px $grey;
  margin: 0;
  border: $neutral solid 3px;
  position: relative;
  width: 400px;
  height: 230px;
  

}  
 
@media screen and  (min-width: 1100px){
  .podklad__cars { 
    width: 400px;
  height: 230px;
 
  
   } }







.podklad__popisek--cars {
  width: 400px;
  height: 200px;
  background-color: $neutral_second;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 5px 20px $grey;
  margin: 0 0 50px 0;
  
  border: $neutral solid 3px;
  
  
}

.cars {
  width:350px;
}

.logo__auta {
  padding: 30px;
  
  
  
}

.cars__obrazek {
  position: absolute;
  bottom: 40px;
  left: -30px;
}



.cars__vw {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.vyzva__obecne {
  margin: 0  30px 30px 60px;
  font-size: medium;
}
@media screen and  (min-width: 900px){
  .vyzva__obecne { 
    font-size: large;
   } }


// GDPR
.content__gdpr {
  padding: 50px;
  margin: 50px;
  font-size: small;
}


@media screen and  (min-width: 900px){
  .content__gdpr { 
    border: $primary solid 5px;
    font-size: large;
   } }

//GDPR - list
.list__normal { list-style-type: none;
}
.list__square {
  list-style-type: square;
  margin: 0 0 0 100px;
}
.list__small_letters { list-style-type: lower-alpha;
}
.list__dash { list-style-type: disc;
  margin: 0 0 0 100px;
}



//tabulka

table, td {
  border: 1px solid $primary;
  box-shadow: 5px 5px 20px $neutral;
  background-color: $neutral_second;
  text-align: center;
  
  
}
table, td :nth-child(2n) {
 background-color: $neutral;
}

table, td:hover { background-color: $primary;
color: $secondary; }

#myTABLE {
  width: 70%; 
  margin: 60px;}


// Team success: 
.flex__box {
  display: block;
  margin: calc($spacer * 2) ;
  padding: $spacer;
  

}

@media screen and  (min-width: 1100px){
  .flex__box { 
    display: flex;
  margin: $spacer;
  padding: $spacer;
  align-items: center;
   } }

.flex__box--second {
  display: block;
  margin: $spacer;
  padding: $spacer;
  
  
}

@media screen and  (min-width: 1100px){
  .flex__box--second { 
    display: flex;
  margin: $spacer;
  padding: $spacer;
  align-items: center;
   } }






.flex__box--obrazek {
  width: 400px;
  margin: calc($spacer / 2);
  
}

@media screen and  (min-width: 900px){
  .flex__box--obrazek { 
    width: 500px;
    margin: $spacer;
    padding: $spacer;
   } }

@media screen and  (min-width: 1100px){
  .flex__box--obrazek { 
    width: 700px;
    margin: $spacer;
    padding: $spacer;
   } }

.flex__box--text {
  font-size: medium;
}

@media screen and  (min-width: 900px){
  .flex__box--text  { 
    font-size: large;
   } }